<h1>LongestWord#score</h1>
<p>Find me in app/views/longest_word/score.html.erb</p>

<%= "Word:" %> <%= @word %> <br>
<%= "Score:" %> <%= @compute_score %> <br>
<%= "Time:" %> <%= @total_time %> <br>
<%= @score_and_message %> <br>


<%= link_to("game", game_path)  %>
